/* estilização da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1b0030;
    user-select: none;
    /* border: 2px solid green; */
}

/* estilização do container do jogo */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(335deg, #03001e 0%, #7303c0 30%, #700052 70%, #b9b9b9 100%);
    padding: 40px 60px;
    border: 2px solid #0000aa;
}

@supports (-webkit-text-stroke: 0.8px black) {
    .title {
        font-size: 3em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 0.8px black;
    }

    .subtitle {
        font-size: 2.5em;
        color: #fff;
        text-transform: capitalize;
        font-style: italic;
        /* letter-spacing: 0.1em; */
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 0.8px black;
    }
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ec38bc;
    background-color: #03001e;
}

p {
    color: #fff;
    font-size: 1em;
    justify-content: center;
    font-style: italic;
    letter-spacing: 0.2em;
}

p a {
    color: #ca199b;
    text-decoration: none;
}

p a:hover {
    color: #ff52d1;
}

p a:active {
    color: #fface9;
}

/* estilização do jogo */
.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    /* border: 2px solid black; */
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
    cursor: pointer;
    /* border: 1px solid #000; */
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transform: rotateY(0deg);
    transition: 0.25s;
    backface-visibility: hidden;
    /* opacity: 0.85; */
}

/* animação ao selecionar cartas */
.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}